<%_ const path = './..'; _%>
<%_ const headType = 'article'; _%>
<%_ const pageId = 'about'; _%>
<%_ const pageTitle = '〇〇について'; _%>
<%_ const pageType = 'underlayer'; _%>
<%- include( path + '/components/_const.ejs'); %>
<!DOCTYPE html>
<html lang="ja">

<head prefix="og: https://ogp.me/ns# fb: https://ogp.me/ns/fb# <%= headType %>: https://ogp.me/ns/<%= headType %>#">
    <%- include(path + '/components/_head.ejs',{path:path,pageId:pageId,pageTitle:pageTitle}); %>
</head>

<body id="<%= pageId %>">
    <%- include(path + '/components/_header.ejs',{path:path,pageId:pageId,pageTitle:pageTitle}); %>
    <%- include(path + '/components/_sp-nav.ejs',{path:path,pageId:pageId,pageTitle:pageTitle}); %>

    <main class="l-main p-<%= pageType %> p-<%= pageId %>">
        <h2 class="o-title">about</h2>
        <a href="<%= path %>/">Top</a>
    </main>

    <%- include(path + '/components/_footer.ejs',{path:path,pageId:pageId,pageTitle:pageTitle}); %>
</body>

</html>
