<%_ const path = '.'; _%>
<%_ const headType='website'; _%>
<%- include( path + '/components/_const.ejs'); %>
<!DOCTYPE html>
<html lang="ja">
    <head prefix="og: https://ogp.me/ns# fb: https://ogp.me/ns/fb# <%= headType %>: https://ogp.me/ns/<%= headType %>#">
        <%- include( path + '/components/_head.ejs'); %>
        <!-- external files -->
        <link rel="stylesheet" href="<%= path %>/css/style.css" />
    </head>
<body>
    <%- include(path + '/components/_header.ejs'); %>
    <%- include(path + '/components/_sp-nav.ejs'); %>

    <main class="l-main p-top">
        <section id="section01" class="l-section">
            <h2 class="c-title">h2タイトル</h2>
            <div class="l-inner">
                Section01
            </div>
        </section>
        <section id="section02" class="l-section">
            <h2 class="c-title">h2タイトル</h2>
            <div class="l-inner">
                Section02
            </div>
        </section>
        <section id="section03" class="l-section">
            <h2 class="c-title">h2タイトル</h2>
            <div class="l-inner">
                Section03
            </div>
        </section>
        <section id="section04" class="l-section">
            <h2 class="c-title">h2タイトル</h2>
            <div class="l-inner">
                Section04
            </div>
        </section>
        <section id="section05" class="l-section">
            <h2 class="c-title">h2タイトル</h2>
            <div class="l-inner">
                Section05
            </div>
        </section>
    </main>

    <%- include(path + '/components/_footer.ejs'); %>
    <script defer src="<%= path %>/js/index.js"></script>
</body>
</html>
